<link href="/css/styles.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div id="cart">
    
    <br><br>
    <button class="btn btn-primary">
      <a href="/" style="color: white" id="logoutIcon"> Logout </a>
    </button>

    <button class="btn btn-primary">
      <a href="#" style="color: white" id="cartIcon" class="<%= user[0].userId %>" data-toggle="modal" data-target="#cartModal"> My Cart </a>
    </button>

</div>
