<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link href="/css/styles.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Checkout Success</title>
</head>
<body id="back">
<%- include ("partials/logo.ejs") %>
    <header>
      <h1 id="welcomeMsg"> <strong> Thank you! </strong> </h1>
    </header>

    <center>
      <section>
        <p id="checksucc"> Your order has been placed. </p>
        <a method = "GET" id="rett" class="btn btn-info" href="/store?userId=<%= user[0].userId %>"> Back to Home </a>
      </section>
    </center>
</body>
</html>